/*************************
Colors Used
*************************/
$grey: hsl(60, 0%, 64%);
$fullwidth: 100%;
$fullheight: 100%;



/************************
Body Features
************************/
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
/*************************
Flex Containers
*************************/
.row{
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/************************
header
************************/
.header {
  height: 10%;
  width: $fullwidth;
}
/***********************
Main
***********************/
.middle {
  height: 80%;
  width: $fullwidth;
}
#left {
  background-color: $grey;
  width: 20%;
  flex-grow: 1;
}
#right {
  display: flex;
  width: 80%;
  flex-grow: 4;
}
/************************
Modal Windows
*************************/
.modal-container {
  position: absolute;
  width: $fullwidth;
  height: $fullheight;
  background-color: $grey;
  opacity: .5;
  z-index: 999;
}
.none {
  display: none
}
.modal {
  text-align: center;
  font-size: 24px;
  font-family: futura;
}
.pop-up {
  display: none;
  text-align: center;
  align-self: center;
  width: 33%;
  height: 33%;
  background-color: $grey;
  opacity: .8;
  z-index: 999
}
/************************
HTML Form Style
************************/
form {
  width: 79%;
}
input {
  margin: 10px;
}
#areaInfo {
  background-color: white;
}
/**********************
map
**********************/
#map {
  position: absolute;
  height: 79%;
  width: 80%;
}
/**********************
footer
***********************/
.footer {
  height: 10%;
  width: $fullwidth;
}
