/************************
Body Features
************************/
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: futura, sans-serif;
}
/*************************
Flex Containers
*************************/
.row{
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/************************
header
************************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
  width: $fullwidth;
  background-color: $black;
  color: white;
}
h1 {
  font-family: rockwell, sans-serif;
  margin-left: 12px;
}
/***********************
Main
***********************/
.middle {
  height: 80%;
  width: $fullwidth;
}
#left {
  background-color: $grey;
  width: 20%;
  flex-grow: 1;
}
#right {
  display: flex;
  width: 80%;
  flex-grow: 4;
}
/**********************
footer
***********************/
.footer {
  display: flex;
  justify-content: center;
  height: 10%;
  width: $fullwidth;
  background-color: $black;
  color: white;
}
